<a href="https://colab.research.google.com/github/bl3ckz/pedro_jogos/blob/main/av2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 17.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [ ]:
import mysql.connector

# Conexão com o banco
conexao = mysql.connector.connect(
    host="localhost",
    user="root",       # Altere se tiver senha
    password="",       # Coloque sua senha se tiver
    database="jogosescolares"
)

cursor = conexao.cursor()

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)

In [ ]:
def criar_tabela():
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS jogadores (
            id INT AUTO_INCREMENT PRIMARY KEY,
            nome VARCHAR(100),
            idade INT,
            pontos INT
        )
    """)
    conexao.commit()
    print("Tabela criada com sucesso!")

criar_tabela()

In [ ]:
class Jogador:
    def __init__(self, nome, idade, pontos):
        self.nome = nome
        self.idade = idade
        self.__pontos = pontos

    def exibir_dados(self):
        print(f"Nome: {self.nome} | Idade: {self.idade} | Pontos: {self.__pontos}")

    def adicionar_pontos(self, valor):
        self.__pontos += valor

    def remover_pontos(self, valor):
        self.__pontos -= valor

    def get_pontos(self):
        return self.__pontos

    def set_pontos(self, novo_valor):
        if novo_valor >= 0:
            self.__pontos = novo_valor

    def verificar_status(self):
        if self.__pontos >= 100:
            return "Ouro"
        elif self.__pontos >= 50:
            return "Prata"
        else:
            return "Bronze"

class JogadorAtivo(Jogador):
    def __init__(self, nome, idade, pontos, partidas):
        super().__init__(nome, idade, pontos)
        self.partidas = partidas

    def registrar_partida(self):
        self.partidas += 1

    def exibir_dados(self):
        print(f"[Ativo] Nome: {self.nome} | Idade: {self.idade} | Pontos: {self.get_pontos()} | Partidas: {self.partidas}")

In [ ]:
# Funções MySQL
def inserir_jogador(nome, idade, pontos):
    comando = "INSERT INTO jogadores (nome, idade, pontos) VALUES (%s, %s, %s)"
    valores = (nome, idade, pontos)
    cursor.execute(comando, valores)
    conexao.commit()
    print("Jogador inserido com sucesso.")

def listar_jogadores():
    cursor.execute("SELECT * FROM jogadores ORDER BY pontos DESC")
    resultado = cursor.fetchall()
    print("=== Ranking dos Jogadores ===")
    for id, nome, idade, pontos in resultado:
        print(f"{id} | {nome} | {idade} anos | {pontos} pontos")

def deletar_jogador(id):
    cursor.execute("DELETE FROM jogadores WHERE id = %s", (id,))
    conexao.commit()
    print("Jogador removido com sucesso.")


# MENU com inputs
def menu():
    while True:
        print("\n1 - Cadastrar Jogador")
        print("2 - Mostrar Ranking")
        print("3 - Deletar Jogador")
        print("4 - Sair")

        opcao = input("Escolha uma opção: ")

        if opcao == "1":
            nome = input("Nome do jogador: ")
            idade = int(input("Idade: "))
            pontos = int(input("Pontos iniciais: "))
            inserir_jogador(nome, idade, pontos)

        elif opcao == "2":
            listar_jogadores()

        elif opcao == "3":
            id_jogador = int(input("ID do jogador para deletar: "))
            deletar_jogador(id_jogador)

        elif opcao == "4":
            print("Encerrando...")
            break
        else:
            print("Opção inválida!")

# Iniciar o menu
menu()